*{
  margin: 0;
  box-sizing: border-box;
}

.game {
  height: 100vh;
  background-color: #adffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .board {
    display: grid;
    justify-content: center;
    gap: 5px;
  }
  .cell {
    cursor: pointer; 
    &.clear .circle{
      transform:  rotate3d(0,1,0,180deg);
    }
    &.left .circle{
      transform: translateX(-100px);
    }
    &.right .circle{
      transform: translateX(100px);
    }
    &.up .circle{
      transform: translateY(-100px);
    }
    &.down .circle{
      transform: translateY(100px);
    }
  }
  .circle{
    transition: all .25s linear; 
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}
